@model WDACC.Models.ViewModel.AdminViewModel
@using WDACC.Models.StoreExt
@using WDACC.Commons

@{
    ViewBag.Title = "講師資料設定";
}

@Html.Partial("_Breadcrumb")
@Html.Partial("_TitleBar")

@QueryTeacher()

@* 講師姓名尋找對話框 *@
@helper QueryTeacher()
{
    <div id="query_teacher" class="unit-border">
        <div class="unit-bg unit-bg-blue">
            @using (Html.BeginForm("Query", "Admin", new { id = ActionName.Admin.Teacher }, FormMethod.Post, new { id = "main_form", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label for="TeacherModel_RealName" class="control-label col-sm-2">講師姓名 ：</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.TeacherModel.RealName, new { @class = "form-control", placeholder = "請輸入講師姓名", maxlength = 60 })
                    </div>
                </div>
                <div class="form-group">
                    <label for="TeacherModel_LoginEmail" class="control-label col-sm-2">講師帳號 ：</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.TeacherModel.LoginEmail, new { @class = "form-control", placeholder = "請輸入講師帳號", maxlength = 60 })
                    </div>
                </div>
                <div class="form-group">
                    <label for="TeacherModel_Email" class="control-label col-sm-2">講師EMAIL ：</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.TeacherModel.Email, new { @class = "form-control", placeholder = "請輸入講師EMAIL", maxlength = 60 })
                    </div>
                </div>
                <div class="form-group">
                    <label for="TeacherModel_PID" class="control-label col-sm-2">講師身分證字號 ：</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.TeacherModel.PID, new { @class = "form-control", placeholder = "請輸入講師身分證字號", maxlength = 60 })
                    </div>
                </div>
                <div class="submit-bar">
                    <button type="submit" name="submit" class="btn btn-orange">確定</button>
                    <button type="reset" id="reset" name="reset" class="btn btn-refill2">清除</button>
                </div>
            }
        </div>
    </div>
    @TeacherGridRows()
}

@helper TeacherGridRows()
{
    <ul class="teacher-list">
        @if (Model.TeacherModel.Grid != null && Model.TeacherModel.Grid.Count > 0)
        {
            foreach (var item in Model.TeacherModel.Grid)
            {
                <li>
                    <a href="@Url.Action("Detail", "Admin", new { id = ActionName.Admin.Teacher, mid=item.Get("mid").AsInt64() })">
                        @item.Get("realname").AsText()
                    </a>
                </li>
            }
        }
    </ul>
}

<script>
    $(function () {
        $('#reset').on('click', function (e) {
            e.preventDefault();
            $('#main_form').find('input').val('');
        });
    });
</script>
