@using Turbo.MVC.Base3.Areas.A6.Models;
@model C101MDetailModel
@{
    Layout = "~/Views/Shared/_MainLayout_NoHeader_NoBg.cshtml";
}
@using (Html.BeginForm("Save", "C101M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    var button = new Dictionary<string, string>();
    button.Add("Save", "doSave()");
    button.Add("UnLock", "doUnLock()");
    if (!Model.IsNew) { button.Add("Delete", "doDelete()"); }
    button.Add("Close", "doClose()");
    @Html.ButtonForTurbo(button)

    <div class="col-sm-12">
        <div class="theme-news">
            <div class="form-border">
                @Html.ControlForTurbo(Model, Model.IsNew)
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    //儲存
    function doSave() {
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Save")').submit();
    }

    //解鎖
    function doUnLock() {
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("UnLock")').submit();
    }

    //刪除
    function doDelete() {
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Delete")').submit();
    }

    //關閉
    function doClose() {
        parent.closeWindow();
    }
</script>
