@model WDACC.Models.ViewModel.MemberViewModel
@using WDACC.Commons

@{
    ViewBag.Title = "教材上傳";
    //var actEXCEL = "@Url.Content("~/Uploads/News/afile.docx")";
    //string s_file_accept = ".xls,.doc,.ppt,.pdf,.jpg,.png,.msg,.odt,.odf";
    string s_file_accept = Turbo.MVC.Base3.Models.ConfigModel.Get_FileExtAccept;
    string s_file_accept_upper = s_file_accept.ToUpper().Replace(",", "、");
    string s_TxtbokUploadFormat = string.Concat("◎教材上傳檔案格式限定", s_file_accept_upper, "，檔案大小以 18MB為限。◎");
}

<div id="share-register">
    <h3 class="news-headtitle">教材上傳</h3>
    <div class="clearfix"></div>
    <!-- news group start -->
    <div class="newsgroup">
        <div class="mark-red" style="margin-left:10px">
            <div> 請務必填寫所有資料 </div>
            <div>@(s_TxtbokUploadFormat)</div>
        </div>
        <div class="unit-bg unit-bg-blue">
            @using (Html.BeginForm("Save", "Member", new { id = ActionName.Member.ShareRegister }, FormMethod.Post,
                new { id = "main_form", @class = "form-horizontal inputSet", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="text" class="control-label col-sm-2">職能類別</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.ShareFileForm.MemShare.classid, CommonOptions.Fclass(), "請選擇", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">教材名稱</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.ShareFileForm.MemShare.title, new { @class = "form-control", placeholder = "請輸入檔案標題" })
                        <span class="help-block">最多30個中英文字</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">檔案簡要說明</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.ShareFileForm.MemShare.content, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-sm-2">選擇教材檔案</label>
                    <div class="col-sm-10">
                        @Html.HiddenFor(x => x.ShareFileForm.MemShare.filename)
                        <input type="file" name="SFile" class="form-control" accept="@s_file_accept" />
                        <div id="file1" class="panel" style="background-color: lightgray; padding-left: 1em;"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-sm-2">選擇說明書檔案</label>
                    <div class="col-sm-10">
                        @Html.HiddenFor(x => x.ShareFileForm.MemShare.ifilename)
                        <input type="file" name="IFile" class="form-control" accept="@s_file_accept" />
                        <div id="file2" class="panel" style="background-color: lightgray; padding-left: 1em;"></div>
                        <span class="help-block"><a href="@Url.Content("~/Uploads/News/ifile.docx")">課程教材製作說明書(範本)</a></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-sm-2">選擇授權書檔案</label>
                    <div class="col-sm-10">
                        @Html.HiddenFor(x => x.ShareFileForm.MemShare.afilename)
                        <input type="file" name="AFile" class="form-control" accept="@s_file_accept" />
                        <div id="file3" class="panel" style="background-color: lightgray; padding-left: 1em;"></div>
                        <span class="help-block"><a href="@Url.Content("~/Uploads/News/afile.docx")">課程教材使用授權書(範本)</a></span>
                    </div>
                </div>

                <div class="submit-bar">
                    @Html.HiddenFor(x => x.ShareFileForm.EditMode)
                    @Html.HiddenFor(x => x.ShareFileForm.MemShare.id)
                    <button type="submit" id="save" class="btn btn-orange">資料送出</button>
                    <button type="button" class="btn btn-refill">資料清除</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        var root = $('#share-register');
        root.on('click', '#save', function (e) {
            e.preventDefault();
            $.ajax({
                url: root.find('#main_form').attr('action'),
                data: new FormData(root.find('#main_form')[0]),
                method: 'POST',
                processData: false,  // tell jQuery not to process the data
                contentType: false   // tell jQuery not to set contentType
            }).done(function (resp) {
                if (resp && resp.status) {
                    blockAlert('儲存成功', null, function () {
                        window.location = '@Url.Action("Index", "Member", new { id = ActionName.Member.MemberShare, rnd=Guid.NewGuid().ToString() })' + '#tab3';
                    });
                } else {
                    if (resp && resp.message) {
                        var res = '';
                        $.each(resp.message, function (i, item) {
                            res += item + '\n';
                        });
                        blockWarning(res);
                    }
                }
            });
        });

    })
</script>
